<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
</ng-template>

<div class="form-group">
    <label for="select-input">Selecciona un producto:</label>

    <input
        id="select-input"
        type="text"
        class="form-control"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        [resultTemplate]="rt"
        (selectItem)="onSelect($event)"
        [disabled]="isDisabled"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
    >
</div>
<div class="selected" *ngIf="producto">
    <div class="selected__info">
        <div>
            <b>{{producto.sku}} {{ producto.nombre }}</b>
        </div>
        <span>{{producto.cantidad}}</span>
    </div>
    <div class="selected__actions">
        <button class="btn" (click)="removeFromSelected(producto)">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>