<nav class="nav-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/polizas">Pólizas de faltantes</a></li>
        <li *ngIf="poliza" class="breadcrumb-item active" aria-current="page">
            Editar póliza <i class="fa fa-hashtag"></i> {{ poliza.idPoliza }}
        </li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">

        <form 
            [formGroup]="form"
            (submit)="save()"
        >
            <div class="form-group">
                <app-input-search-empleado
                    appFeedback
                    #empleadoGenero="appFeedback"
                    formControlName="empleadoGenero"
                ></app-input-search-empleado>
                <app-feedback-error
                    [control]="empleadoGenero.control()"
                    fieldName="empleado"
                ></app-feedback-error>
            </div>

            <div class="form-group">
                <app-input-search-producto
                    appFeedback
                    #producto="appFeedback"
                    formControlName="producto"
                ></app-input-search-producto>
                <app-feedback-error
                    [control]="producto.control()"
                    fieldName="producto"
                ></app-feedback-error>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input
                            appFeedback
                            #cantidad="appFeedback"
                            id="cantidad"
                            type="number"
                            formControlName="cantidad"
                            class="form-control"
                        />
                        <app-feedback-error
                            [control]="cantidad.control()"
                            fieldName="cantidad"
                        ></app-feedback-error>
                    </div>
                </div>
            </div>
            

            <div class="form-group">
                <label for="observaciones">Observaciones</label>
                <textarea
                    appFeedback
                    #observaciones="appFeedback"
                    id="observaciones"
                    formControlName="observaciones"
                    class="form-control"
                    rows="6"
                ></textarea>
                <app-feedback-error
                    [control]="observaciones.control()"
                    fieldName="observaciones"
                ></app-feedback-error>
            </div>


            <div class="row control">
                <div class="col control__buttons">
                    <button class="btn btn-primary" type="submit">
                        Guardar
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>