<div class="card">
    <div class="card-body">

        <div class="control__container">
            <div class="control__search">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar por ID"
                />
            </div>
            <div class="control__buttons">
                <a
                    class="btn btn-primary"
                    routerLink="/polizas/create"
                >
                    Agregar
                </a>
            </div>
        </div>

    </div>
</div>