<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.nombre + ' ' + r.apellido " [term]="t"></ngb-highlight>
</ng-template>

<div class="form-group">
    <label for="select-input">Selecciona un empleado:</label>

    <input
        id="select-input"
        type="text"
        class="form-control"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        [resultTemplate]="rt"
        (selectItem)="onSelect($event)"
        [disabled]="isDisabled"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
    >
</div>
<div class="empleado" *ngIf="empleado">
    <div class="empleado__info">
        <div>
            <b>{{empleado.nombre}} {{ empleado.apellido }}</b>
        </div>
        <span>{{empleado.puesto.nombre}}</span>
    </div>
    <div class="empleado__actions">
        <button class="btn" (click)="removeFromSelectedTag(empleado)">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>