<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.nombre + ' ' + r.apellido " [term]="t"></ngb-highlight>
</ng-template>

<div class="form-group">
    <label for="select-input">Selecciona un empleado:</label>

    <div class="input-group">
        <input
            id="search-empleado"
            type="text"
            class="form-control"
            [(ngModel)]="empleado"
            [ngbTypeahead]="search"
            [resultTemplate]="rt"
            (selectItem)="onSelect($event)"
            [disabled]="isDisabled"
            [inputFormatter]="formatter"
            (blur)="onChangeText($event)"
            #instance="ngbTypeahead"
        >
        <button
            class="btn btn-outline-secondary"
            type="button"
            id="search-empleado"
            (click)="removeSelected()"
        >
            <i class="fa fa-times"></i>
        </button>
    </div>

    <small *ngIf="isSelected">
        <span>Puesto: <b>{{empleado!.puesto.nombre}}</b></span>
    </small>
</div>